#root {
  max-width: 1280px;
  margin: 0 auto;
}

.main_page {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.prices {
  width: 50%;
}

.input_purchase {
  width: 50%;

  .cheshskoe_form {
    display: flex;
    justify-content: start;
  }
}






