@import 'fonts';
@import 'colors'; 

@import 'elementMenuGrid';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $black;
}

body {
    height: 100vh;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    background-color: $warm-gray;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    body {
        width: 95%;
    }
}